header {
  background-color: black;
  width: 100%;
  height: 970px;
}
header .nav-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .nav-header .a-nav {
  color: #008d00;
}
header .section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 920px;
  overflow: hidden;
}
header .section-header h1 {
  padding: 0 0 0 0;
  font-size: 250px;
  color: aliceblue;
  position: absolute;
}
header .section-header .video-header {
  width: 700px;
  padding: 0 0 0 800px;
}
header .div-header {
  display: flex;
  justify-content: end;
}
header .div-header .p-header {
  color: #008d00;
  font-size: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main .momentos {
  width: 100%;
  height: 970px;
  background-color: rgb(12, 12, 12);
}
.main .momentos .contenedor-momentos {
  /* width: 1200px; */
  border: 2px solid rgb(52, 50, 50);
}
.main .momentos .contenedor-momentos .centrar-h2 .h2-momentos {
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
}
.main .momentos .contenedor-momentos .centrar-h2 .h2-momentos .img-momentos {
  width: 450px;
}
.main .momentos .contenedor-momentos .centrar-h2 .h2-momentos h2 {
  font-size: 80px;
  color: aliceblue;
  text-shadow: 8px 8px black;
}
.main .momentos .contenedor-video {
  display: flex;
  flex-direction: row;
  justify-content: end;
  perspective: 1000px;
}
.main .momentos .contenedor-video .bloque-momentos {
  width: 300px;
  height: 350px;
  text-align: center;
  margin: 30px;
  border: 2px solid rgb(52, 50, 50);
  -webkit-box-shadow: -8px 6px 7px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -8px 6px 7px 0px rgba(0, 0, 0, 0.76);
  box-shadow: -8px 6px 7px 0px rgba(0, 0, 0, 0.76);
  transform-style: preserve-3d;
}
.main .momentos .contenedor-video .bloque-momentos:hover {
  scale: 1.1;
  transition: all 300ms ease-in-out;
}
.main .momentos .contenedor-video .bloque-momentos .video-momentos {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.main .momentos .contenedor-video .bloque-momentos .p-momentos {
  color: aliceblue;
}
.main .momentos-nav {
  background-color: rgb(12, 12, 12);
  width: 100%;
}
.main .momentos-nav .barra-momentos {
  display: flex;
  justify-content: center;
}
.main .momentos-nav .barra-momentos .container-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: black;
  margin-top: 350px;
}

* {
  margin: 0;
  padding: 0;
}

main .fondo-main {
  background-image: url(../img/neo/p1cb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 970px;
}
main .fondo-main .nav-main {
  display: flex;
  justify-content: end;
}
main .fondo-main .nav-main .a-main {
  color: rgb(235, 238, 241);
  margin: 10px;
  text-decoration: none;
  /* backdrop-filter: blur(2rem); */
}
main .neo-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .neo-main .img-neo {
  padding: 150px 0 0 0;
  width: 900px;
  height: 650px;
}

/*# sourceMappingURL=style.css.map */
