@import "partials/header";
@import "./partials/neo";
@import "./partials/trinity";
@import "./partials/morfeo";

@mixin tablet {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

@mixin movil {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

$color-tipografia: #008d00;


* {
    margin: 0;
    padding: 0;
}

html {




    ///////     MAIN      /////////


    main {



        .fondo-main {
            background-image: url(../img/neo/p1cb.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 970px;
            scroll-snap-align: start;


            .nav-main {
                display: flex;
                justify-content: space-between;

                .a-main {
                    color: $color-tipografia;
                    margin: 10px;
                    text-decoration: none;




                }


            }


            .neo-main {

                display: flex;
                justify-content: center;
                align-items: center;


                .img-neo {

                    width: 900px;
                    height: 650px;
                    margin-top: 100px;

                    @include tablet {
                        padding: 0;
                        width: 500px;
                        height: 300px;
                    }

                    @include movil {
                        padding: 0;
                        width: 400px;
                        height: 250px;
                    }

                    @include phone {
                        padding: 0;
                        width: 300px;
                        width: 200px;
                    }


                }



            }
        }



        .fondo-mtrinity {
            background-image: url(../img/trinity/triniCortadafondo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 970px;
            scroll-snap-align: start;


            .nav-main {
                display: flex;
                justify-content: space-between;

                .a-main {
                    color: $color-tipografia;
                    margin: 10px;
                    text-decoration: none;




                }


            }


            .neo-main {

                display: flex;
                justify-content: center;
                align-items: center;


                .img-trinity {

                    width: 900px;
                    height: 650px;
                    margin-top: 100px;

                    @include tablet {
                        padding: 0;
                        width: 500px;
                        height: 300px;
                    }

                    @include movil {
                        padding: 0;
                        width: 400px;
                        height: 250px;
                    }

                    @include phone {
                        padding: 0;
                        width: 300px;
                        width: 200px;
                    }


                }



            }
        }

        .fondo-morfeo {
            background-image: url(../img/morfeo/morfondo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 970px;
            scroll-snap-align: start;


            .nav-main {
                display: flex;
                justify-content: space-between;

                .a-main {
                    color: $color-tipografia;
                    margin: 10px;
                    text-decoration: none;




                }


            }


            .neo-main {

                display: flex;
                justify-content: center;
                align-items: center;


                .img-morfeo {

                    width: 900px;
                    height: 650px;
                    margin-top: 100px;

                    @include tablet {
                        padding: 0;
                        width: 500px;
                        height: 300px;
                    }

                    @include movil {
                        padding: 0;
                        width: 400px;
                        height: 250px;
                    }

                    @include phone {
                        padding: 0;
                        width: 300px;
                        width: 200px;
                    }


                }



            }
        }

        .flechaD {
            width: 20px;
            height: 20px;
            margin: 0 0 0 8px;
            &:hover{
                scale: 1.2;
            }
        }
    }

}